.pokemon-list-header {
    padding-inline-end: 20px;
    background: blue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-inline-start: 0.4rem;
    padding-block: 0.6rem;
}
.pokemon-list{
    padding: 0;
}