.property-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.3rem;
  border-top: 1px solid #00000057;
}
.property-title {
  font-weight: 700;
  font-size: 1rem;
}
