$image-dimension: 50px;
.pokemon-item-wrapper{
    display: flex;
    border-top: 1px solid #00000057;
    padding-block: 15px;
    gap: 30px;
    align-items: center;
    img{
        width: $image-dimension;
        height: $image-dimension;
    }
}